.contenedor{
    display: flex;
    flex-direction: column;
}

.menu{
    height: 50px;
    display: flex;
    overflow: hidden;
}

.menu a{
    flex: 1;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    height:  100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: 0.2s ease-in-out all;
    font-weight: 500;
}

.menu a:hover{
    background-color: #7565fc;
}

.img-usuario{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 10px;
}

.img-repartidor{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 10px;
}

table{
    font-family: 'Manrope', sans-serif;
    border: 1px solid rgb(221, 221, 221);
    margin: 10px;
}

th{
    border:none;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin: auto;
    font-family: 'Manrope', sans-serif;
}
td{
    width: 400px;
    height: 50%;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin: auto;
    text-align: center;
    align-items: center;
}

.tabla-usuario{
    display: flex;
    flex-direction: row;
}

.tabla-repartidor{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.checkbox-tama{
    width: 30px;
}

.detalles-tabla{
    transition: 0.3s ease-in-out  all;
    cursor: pointer;
}

.detalles-tabla:hover{
    background-color: rgb(231, 231, 231);
}

nav .indicador{
    width: 0;
    height: 7px;
    background-color: red;  
    position: absolute;
    transition: 35s ease-in-out all;
}


.modal {
    min-width: 1100px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.4);
     font-family: 'Manrope', sans-serif;
  }
  
  .modal-contenido {
    background-color: white;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
  }
  
  .cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cerrar:hover,
  .cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .contenedor-modal{
    display: flex;
    justify-content: space-around;
  }

  .modal-img img{
    border-radius: 20px;
    width: 300px;
  }
  .modal-contenido h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .modal-contenido h3{
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

.modal-inf-cliente i{
    color: #7565fc;
}

.modal-inf-repartidor i{
    color: #7565fc;
}

.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .botones button{
    width: 90px;
    margin-bottom: 30px;
    background-color: #7565fc;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 15px;
  }

  .span-orden{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    overflow: auto;
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 180px;
    height: auto;
  }

  .grid-item h2{
    font-size: 20px;
  }

  .grid-item img{
    height: 130px;
    height: 130px;
    border-radius: 10pxs;
  }

  /* modal para agregar producto */
  .modal-1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.4);
     font-family: 'Manrope', sans-serif;
  }
  
  .modal-contenido-1 {
    background-color: white;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
  }
  
  .cerrar-1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cerrar-1:hover,
  .cerrar-1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .contenedor-modal-1{
    display: flex;
    justify-content: space-around;
  }


  /* modal para agragar empresa */

  .modal-2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.4);
     font-family: 'Manrope', sans-serif;
  }
  
  .modal-contenido-2 {
    background-color: white;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
  }
  
  .cerrar-2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cerrar-2:hover,
  .cerrar-2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .contenedor-modal-2{
    display: flex;
    justify-content: space-around;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
  }
  
  input[type="submit"] {
    margin-top: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 90px;
    margin-bottom: 30px;
    background-color: #7565fc;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 15px;
  }
  
  input[type="submit"]:hover {
    background-color: #604ff9;
  }
  
  
  input[type="file"] {
    margin-bottom: 15px;
  }
  
  form img {
    margin-top: 15px;
    max-width: 50%;
    height: auto;
    display: none;
  }
  